body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* COLORS */
  --primary-color: #FAF9F6;
  --secondary-color: #EEEEEE;
  --text-color: #343331;
  --text-grey-color: rgb(199, 199, 199);
  --yellow-bg: #FBDD3D;


  /* FONTS */
  --heading: 'Poppins', sans-serif;
}